[flake8]
max-line-length = 119
extend-ignore =
    # Django settings star imports
    F403,
    F401,
    F405,
    # Сложность методов (для тестов нормально)
    C901,
    # Слишком длинные строки в миграциях
    E501,

# Исключаем миграции полностью
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    .env,
    .tox,
    dist,
    build,
    */migrations/*,
    *migrations*,
    migrations,

# Или используем per-file-ignores
per-file-ignores =
    # Миграции
    */migrations/*:E501,C901
    # Тесты могут быть сложными
    */tests/*:C901
