# docker-compose.yml
version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ${DB_NAME:-task_tracker_dev}
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
    ports:
      - "${DB_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "8000:8000"
    environment:
      - DJANGO_ENVIRONMENT=${DJANGO_ENVIRONMENT:-development}
      - DB_HOST=postgres
    env_file:
      - .env  # загружаем локальные переменные
    volumes:
      - ./backend:/app
      - ./backend/media:/app/media
    depends_on:
      - postgres
    command: python manage.py runserver 0.0.0.0:8000

volumes:
  postgres_data:
